@model IEnumerable<LibraryManagement.Models.Book>

<h2>Book List</h2>

<a asp-action="Create">Add New Book</a>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price</td>

            <td>
                <a asp-action="Details" asp-route-id="@book.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
            </td>
        </tr>
    }

</table>